*
{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
.title
{
  color: #eee;
  text-align:center;
}
body 
{
  text-decoration:white;
  background-image:url("bg.jpg");
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-size: 1500px;
}
.center
{
  position:absolute;
  top:60%;
  left:50%;
  transform:translate(-50%,-50%);
  width: 400px;
  padding:20px;
  background:white ;
  border-radius:10px;
  height: 400px;
}
.form .form-element
{
  margin-bottom:15px;
  position:sticky;
}
.form .form-element label 
{
  font-size:14px;
  color:black;
}
.form .form-element input
{
  width:100%;
  display:block;
  padding:10px;
  margin-top:10px;
}
.form .form-element button
{
  width:90%;
  height:500%;
  background:black;
  color:orange;
  font-size:14px;
  border-radius:10px;
}
.qr-img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.qr-img img 
{
  width: 150px;
  height: 150px;
}
.section
{
 padding :2rem; 
}